* {
  box-sizing: border-box;
  font-family: Arial;
}

:root {
  --light-blue: #add8e6;
  --sky-blue: #76bedb;
  --star-command: #0077b6;
  --light-pink: #ffe5ec;
  --mendl-pink: #ffc2d1;
  --dark-pink: #fb6f92;
}

body {
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
}

.page-wrap {
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
}

button {
  background-color: var(--dark-pink);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
  padding: 16px;
  text-transform: lowercase;
  transition: 0.7s;
}

button:hover {
  background-color: var(--star-command);
}

h1 {
  color: var(--sky-blue);
  font-size: 2.8rem;
  margin: 1.5rem 0;
  padding: 16px;
}

.total-price {
  padding: 16px;
  text-align: right;
}

.checkout-button {
  width: 100%;
}

.product-container {
  align-content: "center";
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 16px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.product-image {
  flex: 1;
  height: 100px;
  max-width: 100px;
}

.details-wrap {
  padding: 0 16px;
  flex: 3;
}

.remove-button {
  flex: 1;
  margin: auto;
}

.img-wrap {
  margin-top: 32px;
  text-align: center;
}

.img-wrap img {
  width: 400px;
}

.product-details {
  padding: 16px;
  position: relative;
}

.add-to-cart {
  width: 100%;
  margin-top: 16px;
}

.sign-in {
  width: 100%;
  margin-top: 16px;
}

.price {
  position: absolute;
  top: 24px;
  right: 16px;
}

.green-button {
  background-color: green;
}

.grey-button {
  background-color: #888;
  width: 100%;
}

.nav-bar {
  border-bottom: 1px solid #ddd;
  height: 75px;
  width: 100%;
}

.logo-wrap {
  width: 120px;
  height: 120px;
}

.products-link {
  text-align: center;
  display: block;
  color: black;
  font-size: 22px;
  left: 32px;
  position: absolute;
  top: 16px;
  text-decoration: none;
}

.products-link h1 {
  margin: 0;
}

.nav-buttons-wrap {
  position: absolute;
  right: 16px;
  top: 16px;
}

.nav-buttons-wrap {
  position: absolute;
  right: 16px;
  top: 16px;
}

.cart-link {
  position: absolute;
  right: 16px;
  top: 16px;
}

.product-item {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px #888;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 20px;
  position: relative;
  width: 32%;
}

/* Products Page */

.products-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.product-name {
  color: var(--sky-blue);
  font-size: 1.5rem;
  margin-bottom: 0;
  text-align: center;
}

.product-price {
  font-size: 1.5rem;
  text-align: center;
}

.product-desc {
  font-size: 1rem;
  text-align: center;
}

.product-img {
  width: 100%;
}

.product-item img {
  height: 400px;
  width: 200px;
}

.product-item a {
  width: 100%;
}

.product-item button {
  width: 100%;
}

.product-container {
  align-content: "center";
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 16px;
  width: 100%;
}

.product-image {
  flex: 1;
  height: 500px;
  max-width: 500px;
}

.details-wrap {
  padding: 0 16px;
  flex: 3;
}

.remove-button {
  flex: 1;
  margin: auto;
}
